<launch>

  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="world" default="ens32_world" />
  <arg name="debug" default="false" />

  <arg unless="$(arg debug)" name="gazebo_binary" value="gazebo" />
  <arg if="$(arg debug)" name="gazebo_binary" value="debug" />

  <!-- set use_sim_time flag -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>

  <!-- start world -->
  <!-- <node name="$(arg world)" pkg="gazebo" type="$(arg gazebo_binary)" args="$(find bwi_gazebo)/worlds/ens32.world" respawn="false" output="screen" /> -->
  <node name="$(arg world)" pkg="gazebo" type="$(arg gazebo_binary)" args="$(find segbot_gazebo)/worlds/bwi_test_world.world" respawn="false" output="screen" launch-prefix="optirun" />

  <!-- start gui -->
  <group if="$(arg gui)">
    <!-- <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen" /> -->
    <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen" launch-prefix="optirun" />
  </group>

</launch>
