<launch>

  <arg name="world" default="ens32_world" />
  <arg name="map_file" default="$(find bwi_gazebo)/maps/ens-basement-2012-09-04-simulation.yaml"/>

  <!-- Start the world -->
  <include file="$(find bwi_gazebo)/launch/ens32_world.launch">
    <arg name="world" value="$(arg world)" />
  </include>

  <!-- Start the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Spawn first robot -->
  <arg name="robot1_ns" default="segbot1" />
  <include ns="$(arg robot1_ns)" file="$(find bwi_gazebo)/launch/fake_localization_segbot.launch">
    <arg name="launch_world" value="false" />
    <arg name="world" default="ens32_world" />
    <arg name="robotid" value="$(arg robot1_ns)" />
    <arg name="tf_prefix" value="$(arg robot1_ns)" />
    <arg name="has_tf_prefix" value="true" />
  </include>

  <!-- Spawn second robot -->
  <arg name="robot2_ns" default="segbot2" />
  <include ns="$(arg robot2_ns)" file="$(find bwi_gazebo)/launch/fake_localization_segbot.launch">
    <arg name="launch_world" value="false" />
    <arg name="world" default="ens32_world" />
    <arg name="start_x" value="8" />
    <arg name="start_y" value="8" />
    <arg name="robotid" value="$(arg robot2_ns)" />
    <arg name="tf_prefix" value="$(arg robot2_ns)" />
    <arg name="has_tf_prefix" value="true" />
  </include>

  <!-- Spawn third robot -->
  <arg name="robot3_ns" default="segbot3" />
  <include ns="$(arg robot3_ns)" file="$(find bwi_gazebo)/launch/fake_localization_segbot.launch">
    <arg name="launch_world" value="false" />
    <arg name="world" default="ens32_world" />
    <arg name="start_x" value="10" />
    <arg name="start_y" value="10" />
    <arg name="robotid" value="$(arg robot3_ns)" />
    <arg name="tf_prefix" value="$(arg robot3_ns)" />
    <arg name="has_tf_prefix" value="true" />
  </include>

  <!-- Spawn a controllable person -->
  <arg name="person1_ns" default="person1" />
  <include ns="$(arg person1_ns)" file="$(find bwi_gazebo)/launch/person.launch">
    <arg name="world" default="ens32_world" />
    <arg name="x" value="10" />
    <arg name="y" value="5" />
    <arg name="personid" value="$(arg person1_ns)" />
    <arg name="tf_prefix" value="$(arg person1_ns)" />
    <arg name="has_tf_prefix" value="true" />
  </include>

  <!-- Spawn another controllable person -->
  <arg name="person2_ns" default="person2" />
  <include ns="$(arg person2_ns)" file="$(find bwi_gazebo)/launch/person.launch">
    <arg name="world" default="ens32_world" />
    <arg name="x" value="15" />
    <arg name="y" value="5" />
    <arg name="personid" value="$(arg person2_ns)" />
    <arg name="tf_prefix" value="$(arg person2_ns)" />
    <arg name="has_tf_prefix" value="true" />
  </include>

</launch>
