<launch>

  <arg name="world" default="ens32_world" />
  <arg name="world_launch_file" default="$(find bwi_gazebo)/launch/ens32_world.launch" />
  <arg name="start_x" default="5" />
  <arg name="start_y" default="5" />
  <arg name="robotid" default="segbot" />
  <arg name="tf_prefix" default="" />

  <!-- Start the world -->
  <include file="$(arg world_launch_file)">
    <arg name="world" value="$(arg world)" />
  </include>

  <!-- Spawn a single robot -->
  <include file="$(find bwi_gazebo)/launch/segbot_mobile_base.launch">
    <arg name="world" value="$(arg world)" />
    <arg name="x" value="$(arg start_x)" />
    <arg name="y" value="$(arg start_y)" />
    <arg name="robotid" value="$(arg robotid)" />
    <arg name="tf_prefix" default="$(arg tf_prefix)" />

    <arg name="use_simple_gazebo_model" value="true" />
  </include>

</launch>

