<launch>

  <arg name="world" default="gazebo" />
  <arg name="map_frame" default="map" />
  <arg name="map_topic" default="/map" />
  <arg name="map_namespace" default="" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="robotid" default="segbot" />
  <arg name="tf_prefix" default="" />
  <arg name="has_tf_prefix" default="false" />
  <arg name="use_full_gazebo_model" default="true" />
  <arg name="configuration_file" default="$(find segbot_bringup)/launch/includes/_auxiliary.segbot_hokuyo.xml" />

  <!-- whether to launch autonomous stuff or not -->
  <arg name="launch_localization" default="false" />
  <arg name="use_fake_localization" default="false" />
  <arg name="launch_move_base" default="false" />
  <arg name="launch_gmapping" default="false" />

  <!-- enable tf_prefix if not in root level namespace -->
  <group if="$(arg has_tf_prefix)">
    <param name="tf_prefix" value="$(arg tf_prefix)" />
  </group>

  <!-- launch robot description and robot internal tf tree, along with any common nodes between h/w and software -->
  <include file="$(arg configuration_file)">
    <arg name="use_full_gazebo_model" value="$(arg use_full_gazebo_model)" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
    -urdf
    -x $(arg x)
    -y $(arg y)
    -z 0
    -model $(arg robotid)
    -gazebo_namespace /$(arg world)"
    respawn="false" output="screen">
  </node>

  <!-- launch localization -->
  <group if="$(arg launch_localization)">
    <group if="$(arg has_tf_prefix)">
      <node name="map_tf_provider" pkg="tf" type="static_transform_publisher"
            args="0 0 0 0 0 0 /$(arg map_frame) $(arg map_frame) 200" /> 
    </group>
    <group unless="$(arg use_fake_localization)">
      <include file="$(find segbot_navigation)/launch/amcl.launch">
        <arg name="initial_pose_x" value="$(arg x)" />
        <arg name="initial_pose_y" value="$(arg y)" />
        <arg name="map_namespace" value="$(arg map_namespace)" />
      </include>
    </group>
    <group if="$(arg use_fake_localization)">
      <node name="fake_amcl" pkg="bwi_gazebo" type="fake_amcl">
        <param name="frame_id" value="$(arg map_frame)"/>
      </node>
    </group>
  </group>

  <!-- launch gmapping -->
  <group if="$(arg launch_gmapping)">
    <include file="$(find segbot_navigation)/launch/gmapping.launch" />
  </group>

  <!-- launch move base -->
  <group if="$(arg launch_move_base)">
    <include file="$(find segbot_navigation)/launch/move_base_eband.launch">
      <!-- <arg name="map_topic" value="$(arg map_topic)" /> -->
    </include>
  </group>

</launch>
